<h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif">
	Confirmar Tu Cuenta
</h1>

<p style="font-family: Arial, Helvetica, sans-serif">
	Hola, esta a un paso de comenzar a crear una comunidad en Meeti, solo debes
	confirmar tu cuenta en el siguiente enlace:
</p>

<a
	href="<%= url %>"
	style="
		display: block;
		font-family: Arial, Helvetica, sans-serif;
		padding: 1rem;
		background-color: #00c897;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
	"
	>Confirmar tu cuenta</a
>

<p style="font-family: Arial, Helvetica, sans-serif">
	Si no puedes acceder a este enlace, visita: <%= url %>
</p>
<p style="font-family: Arial, Helvetica, sans-serif">
	Si no solicitastes este e-mail puedes ignorarlo
</p>
